*{
    user-select: none;
}
.uncolor{
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}


.rate_icon{
    cursor: pointer;
    
}

.question_div{
    display: flex;
    flex-direction: column;
}